<!DOCTYPE html> 
<html> 
  
<head> 
    <title>{{page.title}}</title> 
</head> 
  
<div id="adobe-dc-view"></div>
<script src="https://acrobatservices.adobe.com/view-sdk/viewer.js"></script>
<script type="text/javascript">
	document.addEventListener("adobe_dc_view_sdk.ready", function(){ 
		var adobeDCView = new AdobeDC.View({clientId: "468bbecfbc964a75b25084e2f5f69cc6", divId: "adobe-dc-view"});
		adobeDCView.previewFile({
			content:{promise: "<{{page.file}}>"},
			metaData:{fileName: "{{page.title}}"}
		}, {});
	});
</script>
  
</html>
